.header
{
	padding: 35px 81px;
	border-radius: 0px;
	box-shadow: none;
	border: 0px;
	background: transparent;
	@include transition(all 0.5s);	

	.container-fluid
	{
		padding: 0px;
	}

	.navbar-header
	{
		.navbar-brand
		{
			padding-left: 0px;
			font-size: 25px;
			color: #ffffff;
		}
	}

	&.scrolltop
	{
		background: #ffffff;
		padding: 15px 81px;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
		.navbar-header
		{
			.navbar-brand
			{
				color: #444444;
			}
		}

		.navbar-nav
		{
			& > li 
			{
				& > a 
				{
					color: #444444;
				}
			}
		}
	}

	.navbar-nav
	{
		& > li 
		{
			padding-left: 7px;
			padding-right: 7px;
			& > a 
			{
				color: #ffffff;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 0.08em;
				cursor: pointer;
				@include transition(all 0.5s);
				&:hover, &:active, &:focus
				{
					color: #fbcd13;
				}
			}

			&:first-child
			{
				padding-left: 0px;
			}

			&:last-child
			{
				padding-right: 0px;
			}

			&.active
			{
				& > a
				{
					color: #fbcd13;
					background: none;
					&:hover, &:active, &:focus
					{
						color: #fbcd13;
						background: none;
					}
				}
			}
		}
	}
}